---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_filter: "0.35"
  overlay_image:  /assets/images/28179983663_eee95df36e_o.jpg
  caption:
excerpt: 'Welcome to my site. On this site you will find my semi-regular research roundup,
          occasional blog posts, and my beta or fully active development projects. My goal is to make the hard stuff easier for
          teachers, this means summarizing research and writing programs that might be helpful, especially to teachers of students
          with disabilities and ELLs.'

feature_row:
  - image_path:  /assets/images/behaviorimg.png
    alt: "behavior tracker"
    title: "Behavior Data Tracker"
    excerpt: "On this page you will find information about the behavior data tracker system."
    url: "/behaviortracker"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path:  /assets/images/exttimeicon.png
    alt: "extended time calculator"
    title: "Extended Time Calculator"
    excerpt: "On this page you will find the Extended time calculator. This tool will help in making decisions about extended time accommodations for SWD."
    url: "/Extended-Time-Calculator"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/pexels-photo-267582.jpeg
    alt: "Research Roundup"
    title: "Research Roundup"
    excerpt: "On this page I will post my semi-regular research and education roundup.
              This research and education roundup is a summary of my reading in education that you might find helpful.
              I’ve called these “research roundups” but the sources will not always be peer reviewed."
    url: "http://johnboniello.com/Research-round-up/"
    btn_class: "btn--primary"
    btn_label: "Read!"
  - # image_path: /assets/images/blog-2355684_1280.jpg
    # alt: "Blogs"
    # title: "Blogs"
    # excerpt: "Here you will find my blogs. They may not be updated frequently."
    # url: "http://johnboniello.com/blog2/"
    # btn_class: "btn--primary"
    # btn_label: "Read!"

intro:
  - excerpt: 'Get notified when I add new stuff &nbsp; [<i class="fab fa-twitter"></i> @johnboniello](https://twitter.com/johnboniello){: .btn .btn--twitter}'
  - excerpt: 'Follow me on these platforms &nbsp; [<i class="fab fa-youtube w3-hover-opacity fa-2x"></i>](https://www.youtube.com/channel/UC6Kb0adIgZcz6Fy1YMfzAXA){: .btn .btn--youtube} &nbsp;
              [<i class="fab fa-github w3-hover-opacity fa-2x"></i>](http://github.com/johnboniello) &nbsp;
              [<i class="ai ai-researchgate-square ai-2x"></i>](https://www.researchgate.net/profile/John_Boniello) &nbsp;
              [<i class="fab fa-linkedin w3-hover-opacity fa-2x"></i>](http://www.linkedin.com/in/john-boniello-280a2532) &nbsp;
              [<i class="fab fa-flickr w3-hover-opacity fa-2x"></i>](http://flickr.com/jbonz37)'

  - excerpt: 'Donate on PayPal if you like my work. &nbsp; [<i class="fab fa-paypal w3-hover-opacity fa-2x"></i>](https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=7TQQPTGX4M48Y&currency_code=USD&source=url)'
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}
