---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image:  /assets/images/28179983663_eee95df36e_o.jpg
  caption:
excerpt: 'Welcome to my site. On this site you will find my semi-regular research roundup, 
          occasional blog posts, and my beta or fully active development projects. My goal is to make the hard stuff easier for 
          teachers, this means summarizing research and writing programs that might be helpful, especially to teachers of students 
          with disabilities and ELLs.'

feature_row:
  - image_path:  /assets/images/exttimeicon.png
    alt: "extended time calculator"
    title: "Extended Time Calculator"
    excerpt: "On this page you will find the Extended time calculator. This tool will help in making decisions about extended time accommodations for SWD."
    url: "/exttimezip"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/pexels-photo-267582.jpeg
    alt: "Research Roundup"
    title: "Research Roundup"
    excerpt: "On this page I will post my semi-regular research and education roundup. 
              This research and education roundup is a summary of my reading in education that you might find helpful. 
              I’ve called these “research roundups” but the sources will not always be peer reviewed."
    url: "/"
    btn_class: "btn--primary"
    btn_label: "Read!"
  - image_path: /assets/images/28179982883_21e7111f74_m.jpg
    alt: "Blogs"
    title: "Blogs"
    excerpt: "Here you will find my blogs. They may not be updated frequently."
    url: "/"
    btn_class: "btn--primary"
    btn_label: "Read!"

intro:
  - excerpt: 'Get notified when I add new stuff &nbsp; [<i class="fab fa-twitter"></i> @johnboniello](https://twitter.com/johnboniello){: .btn .btn--twitter}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
